p {
    font-family: 'PT Sans Narrow', sans-serif;


}

h1, h3, h4, h5, h6 {
    font-family: 'ryeregular';


}

h2 {
    font-family: 'ryeregular';

}


/*
body {
    background-image: url("wood.jpg"), url("wood.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
*/

.color1 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: #BD8138;

}

.color2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: #C0906E;

}

.color3 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: #A56843;

}

.color4 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: #481D10;

}

.color5 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: #6B462E;

}

@font-face {
    font-family: 'ryeregular';
    src: url('rye-regular-webfont.woff2') format('woff2'),
    url('rye-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

img {
    width: 100%;
    height: auto;
}


.sectionwrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;



}



.column1 {
    display: flex;
    height: auto;
    justify-content: space-between;
    padding:10px;


}


.column2 {
    display: flex;
    flex-basis: 400px;
    justify-content: space-between;
    padding: 10px;
    flex-grow: 1;}
    flex-basis: 300px;
}






#pic1 {
    max-height: 50vw;
    max-width: 50vw;
}



footer {
    display: flex;
    justify-content:
}



/***********NAVIGATION***********/

nav {
    text-align: center;
    font-size:.8em;
}

nav .content a {
    display:inline-flex;
    padding: 4px 4px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: 'ryeregular';
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: #59595B;
    color:white;
}

@media only screen and (max-width: 500px) {nav .content a{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .2em;
    }
}
