p {
    font-family: 'PT Sans Narrow', sans-serif;


}

h1 {

}

h2 {

}


/*
body {
    background-image: url("wood.jpg"), url("wood.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
*/

